<h1 id="ll-feature-title"><%=@search.query%></h1>

<script type="text/javascript">
//<![CDATA[
// the URL the iframe is currently showing
currentContentUrl = null;

// if it's a new URL, change what the iframe is showing
function updateContentUrl(newUrl){
	if(currentContentUrl!=newUrl){
		$('#ll-feature-content').attr('src',newUrl);
		currentContentUrl = newUrl;
	}
}
// asks server for most popular link in json format
function fetchLink(){
	$.getJSON('/searches/<%=@search.id%>/random_link.json', function(data) {
		updateContentUrl(data.url);
	});
}

// get popular link and start checking for new one every x seconds
function startPeriodicUpdating(){
	fetchLink();
	handle = setInterval("fetchLink()", 50000); 
}
// start when webpage loads
$(startPeriodicUpdating);
//]]>
</script>
<!-- iframe content here -->
<iframe id="ll-feature-content">
